<% recipe_exists = Recipe.exists?(id: @recipe.id) %>

<div class="d-flex justify-content-center">
  <h1><%= @submit_action_name %>: <span id="recipe-name-display"></span></h1>
</div>

<br/>

<div class="container">

  <h4>Name</h4>
  <input type="text" title="Name" id="name-field" class="w-100" value='<%= recipe_exists ? @recipe.name : "" %>'/>

  <br/>
  <br/>

  <h4>Image URL</h4>
  <input type="text" title="Image URL" id="imageurl-field" class="w-100" value='<%= recipe_exists ? @recipe.imageURL : "" %>'>
  <br/>
  <br/>
  <div class="d-flex justify-content-center">
    <img src='<%= path_to_image('QuestionMark.png') %>' id="recipe-preview-image" width="600" height="600">
  </div>

  <br/>
  <br/>

  <h4>Description</h4>
  <textarea title="Description" id="description-field" class="w-100" rows="5"><%= recipe_exists ? @recipe.description : "" %></textarea>

  <br/>
  <br/>

  <div class="d-flex justify-content-center">
    <p><input type="number" title="Minimum Time" id="mintime-field" value='<%= recipe_exists ? @recipe.minTime : 15 %>'/>minutes <span id="preparation-time-label">&#8804; Preparation Time &#8804;</span> <input type="number" title="Maximum Time" id="maxtime-field" value='<%= recipe_exists ? @recipe.maxTime : 60 %>'/>minutes</p>
  </div>

  <br/>
  <br/>

  <h4>Ingredients</h4>
  <div id="ingredients-list" class="resizable-list">
    <ul>
      <% if recipe_exists %>
        <% @recipe.ingredients.each {|ingredient| %>
          <li>
            <input type="text" title="Ingredient" value='<%= ingredient %>'/>
            <!-- TODO: way to delete this ingredient -->
          </li>
        <% } %>
      <% end %>
      <li>
        <input type="text" title="Ingredient"/>
        <!-- TODO: way to delete this ingredient -->
      </li>
    </ul>
  </div>

  <br/>
  <br/>

  <h4>Steps</h4>
  <div id="steps-list" class="resizable-list">
    <ol>
      <% if recipe_exists %>
        <% @recipe.steps.each {|step| %>
          <li>
            <input type="text" title="Step" value='<%= step %>'/>
            <!-- TODO: way to delete this step -->
          </li>
        <% } %>
      <% end %>
      <li>
        <input type="text" title="Step"/>
        <!-- TODO: way to delete this step -->
      </li>
    </ol>
  </div>

  <br/>
  <br/>

  <h4>Utensils</h4>
  <div id="utensils-list" class="resizable-list row">
    <div class="col">
      <button class="btn w-100">Fork</button>
    </div>
    <div class="col">
      <button class="btn w-100">Spoon</button>
    </div>
    <div class="col">
      <button class="btn w-100">Knife</button>
    </div>
    <div class="col">
      <button class="btn w-100">Hands</button>
    </div>
  </div>

  <br/>
  <br/>

  <div class="form-submit">
    <h4>Submit</h4>
    <input type="password" title="Password" id="password-field"/>&nbsp;&nbsp;<button class="btn btn-primary" type="submit"><%= @submit_action_name %></button>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

</div>
