<%= form_with(model: recipe, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :imageURL %>
    <%= form.text_field :imageURL %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :ingredients %>
    <%= form.text_field :ingredients %>
  </div>

  <div>
    <%= form.label :steps %>
    <%= form.text_field :steps %>
  </div>

  <div>
    <%= form.label :utensils %>
    <%= form.text_field :utensils %>
  </div>

  <div>
    <%= form.label :minTime %>
    <%= form.number_field :minTime %>
  </div>

  <div>
    <%= form.label :maxTime %>
    <%= form.number_field :maxTime %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<% if @recipe.persisted? %>
  <br/>

  <%= form_with(model: recipe, local: true) do |form| %>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div>
      <%= button_to('Destroy', recipe_path(@recipe), method: :delete, remote: true)%>
    </div>
  <% end %>
<% end %>
