<div class="container-fluid">
  <% i = 0 %>
  <% @recipes.each do |recipe| %>
    <% if i % 4 == 0 %>
      <div class="row mt-3">
    <% end %>
    <div class="col col-3">
      <div class="rounded recipe-card">
        <div class="d-flex justify-content-center">
          <a href='<%= recipe_path(recipe) %>'>
            <% if recipe.imageURL && recipe.imageURL != '' %>
              <img class="img-fluid img-thumbnail rounded d-block" src='<%= recipe.imageURL %>' width="350" height="350"/>
            <% else %>
              <div></div>
            <% end %>
            <h4><%= recipe.name %></h4>
          </a>
        </div>
        <p><%= recipe.description %> <a href='<%= edit_recipe_path(recipe) %>'>Edit</a></p>
      </div>
    </div>
    <% if i % 4 == 3 %>
      </div>
    <% end %>
    <% i += 1 %>
  <% end %>
  <% if i % 4 != 0 %>
    </div>
  <% end %>
</div>

<br/>

<%= link_to 'New Recipe', new_recipe_path %>
