<div class="container-fluid">
  <% i = 0 %>
  <% @recipes.each do |recipe| %>
    <% if i % 4 == 0 %>
      <div class="row mt-3">
    <% end %>
    <div class="col col-3">
      <div class="rounded recipe-card">
        <br/>
        <div class="d-flex justify-content-center">
          <a href='<%= recipe_path(recipe) %>'>
            <% if recipe.imageURL && recipe.imageURL != '' %>
              <img class="img-fluid img-thumbnail rounded d-block recipe-image" src='<%= recipe.imageURL %>' width="350" height="350"/>
            <% else %>
              <img class="img-fluid img-thumbnail rounded d-block recipe-image" src='<%= path_to_image('QuestionMark.png') %>' width="350" height="350"/>
            <% end %>
            <br/>
            <h4><%= recipe.name %></h4>
          </a>
        </div>
        <div class="row">
          <p class="col col-10"><%= recipe.description %></p>
          <a class="col col-2" href='<%= edit_recipe_path(recipe) %>'>Edit</a>
        </div>
      </div>
    </div>
    <% if i % 4 == 3 %>
      </div>
    <% end %>
    <% i += 1 %>
  <% end %>
  <% if i % 4 == 0 %>
    <div class="row mt-3">
  <% end %>
  <div class="col col-3">
    <div class="rounded recipe-card">
      <br/>
      <div class="d-flex justify-content-center">
        <a href='<%= new_recipe_path %>'>
          <img class="img-fluid img-thumbnail rounded d-block recipe-image" src='<%= path_to_image('Plus.png') %>' width="350" height="350"/>
          <br/>
          <h4>Add Recipe</h4>
        </a>
      </div>
      <div class="row">
        <p class="col col-12">Click Here to Add a New Recipe!</p>
      </div>
    </div>
  </div>
    </div>
</div>
