<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ImageURL</th>
      <th>Description</th>
      <th>Ingredients</th>
      <th>Steps</th>
      <th>Utensils</th>
      <th>MinTime</th>
      <th>MaxTime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.imageURL %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.steps %></td>
        <td><%= recipe.utensils %></td>
        <td><%= recipe.minTime %></td>
        <td><%= recipe.maxTime %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
