<%= render 'recipes/returnButton' %>

<br/>

<div class="d-flex justify-content-center">
  <h1><%= @recipe.name %></h1>
</div>

<div class="d-flex justify-content-center">
  <img src='<%= @recipe.imageURL %>' id="recipe-preview-image" width="600" height="600">
</div>

<br/>

<div class="container">

  <h3>Description</h3>
  <p><%= @recipe.description %></p>

  <div class="d-flex justify-content-center">
    <p><%= @recipe.minTime %> minutes <span id="preparation-time-label">&#8804; Preparation Time &#8804;</span> <%= @recipe.maxTime %> minutes</p>
  </div>

</div>

<%= render 'recipes/returnButton' %>
