<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>ImageURL:</strong>
  <%= @recipe.imageURL %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @recipe.steps %>
</p>

<p>
  <strong>Utensils:</strong>
  <%= @recipe.utensils %>
</p>

<p>
  <strong>MinTime:</strong>
  <%= @recipe.minTime %>
</p>

<p>
  <strong>MaxTime:</strong>
  <%= @recipe.maxTime %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
